.flex-box-rps img:hover
{
 box-shadow: 3px 3px 5px blue;
}

.container-3
{
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}
.flex-box-rps
{
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;

}